<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Create</h2>
    <form th:action="@{create}" th:object="${student}" method="post">
        <table class="table">
            <tbody>
            <tr>
                <td>ID:</td>
                <td><input placeholder="nhập id" th:field="*{id}"></td>
                <td>Name:</td>
                <td><input placeholder="nhập name" th:field="*{name}"></td>
            <tr>
                <td>Date of Birth:</td>
                <td> <input placeholder="nhập date" th:field="*{date}"></td>
                <td>Address:</td>
                <td> <input placeholder="nhập address" th:field="*{address}"></td>
            </tr>
            <td>Phone:</td>
            <td> <input placeholder="nhập phone" th:field="*{phone}" ></td>
            <td>Email:</td>
            <td> <input placeholder="nhập email" th:field="*{email}" ></td>
            </tr>
            <tr>
                <td>Class:</td>
                <td colspan="2">
                    <select th:field="*{id_dp}">

                            <option th:each="dp: ${listDp}" th:value="${dp.id_dp}" th:text="${dp.name}">
                            </option>
                    </select>
                </td>
            </tr>

            </tbody>
        </table>
        <button type="submit" class="btn btn-success">Create</button>

    </form>
</div>

</body>
</html>